body {
	background: black;
}
h1 {
	font-family: lores-21-serif,sans-serif;
	font-weight: 700;
	font-style: normal;
/*	letter-spacing: 0.1em;
*/	font-size: 20px;
	text-transform: none;
	color: white;
	-webkit-font-smoothing: antialiased !important;
    text-rendering:optimizeLegibility !important;
}
p {
	font-family: lores-12, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	-webkit-font-smoothing: antialiased !important;
    text-rendering:optimizeLegibility !important;
}
