body {
	background: black;
}
h1 {
	font-family: lores-21-serif,sans-serif;
	font-weight: 700;
	font-style: normal;
/*	letter-spacing: 0.1em;
*/	font-size: 40px;
	text-transform: none;
	color: white;
	-webkit-font-smoothing: antialiased !important;
    text-rendering:optimizeLegibility !important;
}
p {
	font-family: lores-12, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	-webkit-font-smoothing: antialiased !important;
    text-rendering:optimizeLegibility !important;
}

/*https://css-tricks.com/dont-overthink-flexbox-grids/
*/
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}



* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  padding: 5px;
  color: white;
}
